@{
    Layout = "_newLayout";
}


<div class="display-2 text-center" style="margin-top: 70px;">
    <span style="font-weight:bolder;">A few words </span>
    <span style="color: purple;"> about our company</span>
</div>

<main>
    <section style="margin-left: 11%; margin-top: 5%;">
        <p class="h1" style="font-size:60px;">We have <span style="color: purple;">5 years</span> of experience</p>
        <p class="h5 mt-4">BiggerBlueButton is not endorsed or certified by BigBlueButton Inc. <br> BigBlueButton and the BigBlueButton Logo are trademarks of BigBlueButton Inc.</p>
    </section>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <p style="font-size: 20px;">
                        we started in late 2019 as a small team and our mission was to integrate BigBlueButton software with many custom built software and learning management Systems, and we have done huge progress in terms of scaling, optimizing and customizing.
                        <br>
                        later on many clients started to ask us to increase the number of concurrent users they can host simultaneously in order to host all their classes during COVID-19 pendamic and so we have used scalelite software for that purpose but later we found many problems with scalelite and we had to implement our own loadbalancer.
                        <br>
                        this inspired us to start BiggerBlueButton hosting platform and our goal was to provide BigBlueButton hosting server at higher scale for our clients with all the amazing features that you can't find in normal BigBlueButton such as theme selector, MP4 recordings and small modifications to BBB-html5 room
                    </p>

                </div>
                <div class="col-lg-6 p-4">
                    <p style="margin-left: 30%; font-size: 35px; font-weight: bold;">Our Skills</p>
                    <ul style="margin-left: 30%; font-size: 25px;">
                        <li>Flexibility</li>
                        <li>Communication</li>
                        <li>Organization</li>
                        <li>Creativity</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>