@{
    Layout = "_newLayout";
}


<div class="display-2 text-center" style="margin-top: 50px;">
    <span style="font-weight:bolder;">Feel free to </span>
    <span style="color: purple;"> Contact us</span>
</div>
<div class="conatinerfluid mt-5">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <div class="ratio" style="--bs-aspect-ratio: 60%; margin-left: 1%;">
                <img src="/images/contactpicture.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mt-3">
            <h5 class="text-uppercase text-center mb-2">Opening hours</h5>
            <table class="table text-center text-white">
                <tbody class="fw-normal">
                    <tr>
                        <td>Mon - Thu:</td>
                        <td>8am - 9pm</td>
                    </tr>
                    <tr>
                        <td>Fri - Sat:</td>
                        <td>8am - 1am</td>
                    </tr>
                    <tr>
                        <td>Sunday:</td>
                        <td>9am - 10pm</td>
                    </tr>
                </tbody>
            </table>
            </h5>
            <ul class="fa-ul p-4 mt-4" style="margin-left: 5% ">
                <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-home"></i></span>
                    <span class="ms-2">Warsaw, 00-967, USA </span>

                </li>
                <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2" style="color:purple">support@yammer.com</span>
                </li>
                <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2" style="color: purple;">+ 48 234 567 88</span>
                </li>
            </ul>
            <div class="p-5">
                <!-- Facebook -->
                <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
                <!-- Dribbble -->
                <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
                <!-- Twitter -->
                <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
                <!-- Google + -->
                <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
                <!-- Linkedin -->
            </div>
        </div>
    </div>
</div>