@{
    Layout = "_newLayout";
}

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-12 display-2 text-center">
            <span style="font-weight:bolder;">Amazing</span>
            <span style="color: purple;">Features</span>
            <p class="mt-4" style="font-size: 26px;">Features that every office team’s needs! Whether you want to send a 1:1 message, talk in a group, message to bulk, meet securely, and do more. All kinds of team collaboration use cases are covered in this business chat app!</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <img src="/images/featre.png" alt="" style="height: 80%; width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-message" style="color: #FFD43B; font-size: 50px;"></i>
            <p>Instant Messaging</p>
            <p>Send your work requirements to your co-worker through a quick one-to-one instant chat app.</p>
        </div>
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-video" style="color: blue; font-size: 50px;"></i>
            <p>Audio & Vedio Calling</p>
            <p>Meet via a clear and crisp 1:1 or group audio-video call to share your voice of opinion</p>
        </div>
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-layer-group" style="font-size: 50px; color:palevioletred;"></i>
            <p>Group Chat</p>
            <p>Collaborate in group chats to discuss your daily office work routines! Be a part of the group to access all files and conversations</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-file" style="color: green; font-size: 50px;"></i>
            <p>File Sharing</p>
            <p>You can share text files, PDFs, PPTs, images, videos, and URLs across 1:1 and group chats. Preview these on the UI to improve your business productivity.</p>
        </div>
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-laptop-file" style="font-size: 50px; color: plum;"></i>
            <p>Remote Screen Share</p>
            <p>Reach out to your remotest office teams with Troop Messenger’s productive and ultra-new screen share feature.</p>
        </div>
        <div class="col-lg-4  col-md-12">
            <i class="fa-solid fa-shield-halved" style="color: lightskyblue; font-size:50px;"></i>
            <p>End-to-End Encryption</p>
            <p>Your work conversations are under your complete control! Chats, calls, and conferences are end-to-end encrypted in this office chat app.</p>
        </div>
    </div>
</div>
