@{
    Layout = "_newLayout";
}
<div class="display-2 text-center" style="margin-top: 70px;">
    <span style="color: purple; font-weight: bold;">Solution for </span>
    <span style="font-weight: bolder;">different industries</span>
</div>

<div class="container-fluid" style="background-color:white; margin-top: 45px;">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-5 rounded">
            <img class="rounded" src="/images/companies.png" alt="" style="width:55%">
            <p class="text-dark display-5 mt-4" style="font-weight: bolder;">For companies</p>
            <p class="text-dark" style="font-size: 20px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                EGroupware offers an online calendar for the organisation of appointments, contact management with CRM, task management, as well as an online file manager, which is rounded off by project management.

                The groupware networks all information on an online company platform. The solution runs independently of operating systems on any desktop browser and in the mobile version also on smartphones.

                Home office functions in particular are becoming increasingly important for companies.
            </p>
        </div>
        <div class="col-lg-6 col-md-12 p-5 rounded">
            <img class="rounded" src="/images/uni.png" alt="" style="width:55%">
            <p class="text-dark display-5 mt-4" style="font-weight: bolder;">For universities & colleges</p>
            <p class="text-dark" style="font-size: 20px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                For universities and educational institutions, the flexible integration with existing systems such as LDAP, Active Directory, mail servers and UCS is an important factor.

                Users benefit greatly from the calendar, resource planning for lab devices, file management, address management and helpdesk system.

            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 p-5 rounded">
            <img class="rounded" src="/images/school.png" alt="" style="width:35%">
            <p class="text-dark display-5 mt-4" style="font-weight: bolder;">Schools & educational institutions</p>
            <p class="text-dark" style="font-size: 20px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Especially for schools and educational institutions the easy integration of EGroupware into existing systems is very important.

                Therefore EGroupware supports many formats and possibilities of integration. The most important applications for schools is the planning of appointments and the distribution of information and files.
        </div>
        <div class="col-lg-6 col-md-12 p-5 rounded">
            <img class="rounded" src="/images/club.png" alt="" style="width:55%">
            <p class="text-dark display-5 mt-4" style="font-weight: bolder;">For clubs and associations</p>
            <p class="text-dark" style="font-size: 20px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Benefit from the shared calendar and have an overview of your colleagues’ appointments and free times.

                Access a shared address book and file management where physical distance no longer matters.

                You can exchange files of any size or work together on documents in real time.


            </p>
        </div>
    </div>
</div>



<div class="container-fluid" style="background-color:rgb(247, 243, 234);">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding: 03%;">
            <p style="padding-top: 2%;font-size: 30px;">Questions about Yammer?</p>
            <p style="padding-top:2% ;">
                <a href="/Home/AboutUs" class="p-3 m-1 text-white text-center  rounded" style=" text-decoration: none; background-color: purple; width:250px;">Contact us</a>
            </p>
        </div>
    </div>

</div>